@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes navAnimation{0%{transform:translate3D(10%,0,0)} 100%{transform:translate3D(-10%,0,0)}}

body{background:#000; color:#eee}
.headeranchors{transition:1s ease-in-out;}
.headeranchors:hover{color:#fff;animation:navAnimation 1s alternate infinite; }
.headeranchorsinnerspan{transition:1s ease-in-out;}
.headeranchorsinnerspan:hover{transform: scale3d(1.1, 1.1, 1.1);}
.headeranchors2{transition:1s ease-in-out;}
.headeranchors2:hover{color:#224;animation:navAnimation 1s alternate infinite }
#headerbutton:hover{color:#aaa}
#headerbutton{transform:scale3d(1.4,1.4,1.4)}
#logo{transition:2s ease-in-out;}
#logo:hover{transform: scale3d(1.1,1.1,1.1);}
.headerspans:hover{background: #fff;transform:scale3d(1.1,1.1,1.1)}
.submitbutton{transition: 1s ease-in-out;}
.submitbutton:hover{background-color: #224; color: #fff;}

 @media screen and (min-width:620px) {
  .firstsection{background-image: url("/images/bg14.jpg");background-position-y: 20%; background-repeat:no-repeat}
 }

 @media screen and (max-width:620px) {
  .firstsection{background-image: url("/images/bg.gif"); background-size: 100%;background-position-x:50%; background-position-y:""; background-repeat:no-repeat}
 }

 @media screen and (max-width:620px) {
  .firstsectionshadowdiv{box-shadow:1px 1px 4px 1px #000}
 }

 @media screen and (min-width:620px) {
  .firstsectionshadowdiv{box-shadow:3px 3px 4px 1px #002}
 }
 


  